<main>
  <section class="gender-selection">
    <button class="gender-button" (click)="showMen()">HOMBRE</button>
    <button class="gender-button" (click)="showWomen()">MUJER</button>
  </section>

  <div class="product" *ngFor="let product of menProducts">
    <a [routerLink]="['/producto', product.codigo]">
      <img [src]="product.img" alt="{{ product.nombre }}">
      <span>{{ product.nombre }}</span>
      <span>{{ product.precio | currency:'USD':'symbol' }}</span>
    </a>
  </div>

  <section class="product-section men" *ngIf="showMenSection">
    <h2>Hombre</h2>
    <div class="products">
      <div class="product" *ngFor="let product of menProducts">
        <img [src]="product.img" alt="{{ product.nombre }}">
        <span>{{ product.nombre }}</span>
        <span>{{ product.precio | currency:'USD':'symbol' }}</span>
      </div>
    </div>
  </section>

  <section class="product-section women" *ngIf="showWomenSection">
    <h2>Mujer</h2>
    <div class="products">
      <div class="product" *ngFor="let product of womenProducts">
        <img [src]="product.img" alt="{{ product.nombre }}">
        <span>{{ product.nombre }}</span>
        <span>{{ product.precio | currency:'USD':'symbol' }}</span>
      </div>
    </div>
  </section>
</main>
