.imagen-detalle-producto {
    width: 300px; /* Establece el ancho deseado */
    height: 300px; /* Establece la altura deseada */
    object-fit: cover; /* Controla cómo la imagen se ajusta al contenedor */
  }
  