<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<body>
  <header class="app-header">
    <div class="header-content">
      <h1>
        <span>T</span><span>i</span><span>e</span><span>n</span><span>d</span><span>a</span>&nbsp;
        <span>d</span><span>e</span>&nbsp;
        <span>r</span><span>o</span><span>p</span><span>a</span>&nbsp;
        <span>G</span><span>a</span><span>l</span><span>l</span><span>i</span><span>t</span><span>o</span>
      </h1>
    </div>
  </header>
  <nav>
    <ul>
      <li *ngFor="let link of pages">
        <a *ngIf="link.path" [routerLink]="link.path">
          <i class="{{ link.icon }}"></i>
          {{ link.titulo }}
        </a>
        <a *ngIf="!link.path" (click)="link.titulo === 'Carrito' && toggleCart()">
          <i class="{{ link.icon }}"></i>
          {{ link.titulo }}
        </a>
      </li>   
      
    </ul>
    <div class="cart-sidebar" [class.open]="isCartOpen">
      <div class="close-btn" (click)="toggleCart()">×</div>
      <h2>Shopping Bag</h2>
      
      <div class="cart-content" *ngIf="cartService.getCartItems().length; else emptyCart">
        <!-- Iterar sobre los productos en el carrito -->
        <div class="cart-item" *ngFor="let item of cartService.getCartItems()">
          <img [src]="item.imagen" alt="Imagen del Producto" class="cart-item-image">
          <div class="cart-item-details">
            <h3>{{ item.nombre }}</h3>
            <p>Precio: ${{ item.precio }}</p>
            <!-- Puedes añadir un botón para remover el producto del carrito si lo deseas -->
          </div>
        </div>
      </div>
    
      <ng-template #emptyCart>
        <p>Tu Shopping Bag está vacío.</p>
      </ng-template>
    
      <button (click)="redirectToCheckout()">Ir a la página de pago</button>
    </div>
    

   
     
  </nav>
  <app-cart-sidebar></app-cart-sidebar>

  <div class="content">
    <main>
      <router-outlet></router-outlet>
      <!-- El contenido del enrutador se insertará aquí -->
    </main>
  </div>

  <footer class="app-footer">
    <p>Samu y Alex © 2023</p>
  </footer>
</body>