<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<body>
  <head>
    <!-- ... otras inclusiones ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  
  <header class="app-header">
    <div class="header-content">
      <h1>
        <span>T</span><span>i</span><span>e</span><span>n</span><span>d</span><span>a</span>&nbsp;
        <span>d</span><span>e</span>&nbsp;
        <span>r</span><span>o</span><span>p</span><span>a</span>&nbsp;
        <span>G</span><span>a</span><span>l</span><span>l</span><span>i</span><span>t</span><span>o</span>
      </h1>
    </div>
  </header>
  <nav>
    <ul>
      <li *ngFor="let link of pages">
        <a *ngIf="link.path" [routerLink]="link.path">
          <i class="{{ link.icon }}"></i>
          {{ link.titulo }}
        </a>
        <div class="sidebar">
          <a *ngIf="!link.path" (click)="link.titulo === 'Carrito' && toggleCart()">
            <i class="{{ link.icon }}"></i>
            {{ link.titulo }}
          </a>
        </div>
      </li>   
      
    </ul>

    <a href="https://wa.link/hs4li1" target="_blank" class="whatsapp-float" title="Habla con nosotros por WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
   
    <div class="cart-sidebar" [class.open]="isCartOpen">
      <div class="close-btn" (click)="toggleCart()">×</div>
      <h2>Shopping Bag</h2>
      
      <div class="cart-content" *ngIf="detalles.length > 0">
        <div class="cart-item" *ngFor="let detalle of detalles">
          <img [src]="detalle?.producto?.imagen" alt="Imagen del Producto" class="cart-item-image">
          <div class="cart-item-details">
            <h3>{{ detalle?.producto?.nombre }}</h3>
            <p>Cantidad: {{ detalle?.cantidad }}</p>
            <p>Precio: ${{ detalle?.producto?.precio }}</p>
          </div>
        </div>
    </div>
    
    <div *ngIf="(detalles ?? []).length === 0">
        <p>Tu carrito está vacío.</p>
    </div>
    
    
    
      <ng-template #emptyCart>
        
        <div class="contenedor">
          <p>Tu Shopping Bag está vacío.</p>
      </div>
      

      </ng-template>
      <div class="fixed-button-container">
        <button (click)="redirectToCheckout()">Ir a la página de pago</button>
      </div>
    
     
    </div>
   
  </nav>
  <app-cart-sidebar></app-cart-sidebar>

  <div class="content">
    <main>
      <router-outlet></router-outlet>
      <!-- El contenido del enrutador se insertará aquí -->
    </main>
  </div>

  

  <footer class="app-footer">
    <p>Samu y Alex © 2023</p>
  </footer>
</body>