<!-- Carrito2Component HTML -->
<div class="carrito-container">
    <h2>Mi Carrito</h2>
    <div class="cart-items" *ngIf="detalles.length > 0">
      <div class="cart-item" *ngFor="let detalle of detalles">
        <img [src]="detalle?.producto?.imagen" alt="Imagen del Producto" class="cart-item-image">
        <div class="cart-item-details">
          <h3>{{ detalle?.producto?.nombre }}</h3>
          <p>Cantidad: {{ detalle?.cantidad }}</p>
          <p>Precio: ${{ detalle?.producto?.precio }}</p>
        </div>
      </div>
    </div>
    <button *ngIf="detalles.length > 0" (click)="generarFactura()">Generar Factura</button>
    <div *ngIf="detalles.length === 0">
      <p>Tu carrito está vacío.</p>
    </div>
  </div>
  