/* Carrito2Component CSS */
.carrito-container {
    /* Tus estilos para el contenedor del carrito */
  }
  
  .cart-items {
    display: flex;
    flex-direction: column; /* Alinea los items verticalmente */
    gap: 20px; /* Espacio entre los items */
  }
  
  .cart-item {
    display: flex;
    flex-direction: column; /* Alinea los elementos del item verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .cart-item-image {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del item */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área asignada */
    max-width: 200px; /* Límite de ancho para la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y los detalles */
  }
  
  .cart-item-details {
    text-align: center; /* Centra el texto de los detalles */
  }
  