<div class="carrito-container">
  <h2>Mi Carrito</h2>
  <div class="cart-items" *ngIf="detalles.length > 0">
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>

    <div class="cart-item" *ngFor="let detalle of detalles">
      <img [src]="detalle?.producto?.imagen" alt="Imagen del Producto" class="cart-item-image">
      <div class="cart-item-details">
        <h3>{{ detalle?.producto?.nombre }}</h3>
        <div class="detail-boxes">
          <div class="detail-box">Cantidad: {{ detalle?.cantidad }}</div>
          <div class="detail-box">Precio unitario: ${{ detalle?.producto?.precio }}</div>
          <div class="detail-box">Talla elegida: {{ detalle?.talla }}</div>
          <div class="detail-box">IVA (12%): ${{ ((detalle?.cantidad || 0) * (detalle?.producto?.precio || 0)) * 0.12 | number:'1.2-2' }}</div>
        </div>
        -
        <div class="total-box">
          <p>Subtotal: ${{ (detalle?.cantidad || 0) * (detalle?.producto?.precio || 0) | number:'1.2-2' }}</p>
          <p>Total con IVA: ${{ ((detalle?.cantidad || 0) * (detalle?.producto?.precio || 0)) * 1.12 | number:'1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="detalles.length > 0" class="total-carrito-container">
    <h3>Total del Carrito (con IVA): ${{ getTotalConIVA() | number:'1.2-2' }}</h3>
  </div>
  
  <form [formGroup]="pagoForm" >
    
  
    <div>
      <label for="numeroTarjeta">Número</label>
      <input id="numeroTarjeta" type="text" formControlName="numeroTarjeta">
    </div>
  
    <div>
      <label for="nombreTarjeta">Nombre y Apellido como figura en la tarjeta</label>
      <input id="nombreTarjeta" type="text" formControlName="nombreTarjeta">
    </div>
  
    <div>
      <label for="fechaVencimiento">Fecha de Vencimiento</label>
      <input id="fechaVencimiento"  type="text" formControlName="fechaVencimiento">
    </div>
  
    <div>
      <label for="codigoSeguridad">Código de Seguridad</label>
      <input id="codigoSeguridad" type="text" formControlName="codigoSeguridad">
    </div>
  
    <div>
      <label for="cedulaPagador">Cédula del pagador</label>
      <input id="cedulaPagador" type="text" formControlName="cedulaPagador">
    </div>
  
    
    <div class="boton-centrado">
      <button (click)="generarFactura()" *ngIf="detalles.length > 0" [disabled]="pagoForm.valid">Generar Factura</button>
    </div>
  </form>
  
  <div *ngIf="detalles.length === 0">
    <p>Tu carrito está vacío.</p>
  </div>
</div>