<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Identificación</title>

  </head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Identificación</title>
</head>
<body>

<div class="form-container">
    <div class="form-header">
        <h2>1 Identificación</h2>
        <p>Solicitamos únicamente la información esencial para poder crear la cuenta.</p>
    </div>
    <form #miForm="ngForm" (ngSubmit)="crear()">
        <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" id="email" name="email" [(ngModel)]="cliente.correo" placeholder="email@email.com" required>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" placeholder="Nombre" required>
        </div>

        <div class="form-group">
            <label for="dni">Cédula</label>
            <input type="text" id="dni" name="dni" [(ngModel)]="cliente.dni" placeholder="1111111111" required>
        </div>

        <div class="form-group">
            <label for="dni">Dirección</label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="cliente.direccion" placeholder="Ciudad" required>
        </div>

        <!-- Campo para la contraseña -->
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" [(ngModel)]="cliente.clave" placeholder="••••••••" required>
        </div>

        <!-- Botón de envío del formulario -->
        <button type="submit" [disabled]="miForm.invalid">Crear usuario</button>
    </form>
</div>

</body>

  